.root {
  border-radius: 4px;
  padding: 8px 8px 4px 8px;
  border: 1px solid var(--gray6);
  position: relative;
  background: var(--lowContrast);
  white-space: pre-wrap;
}

.controls {
  position: absolute;
  right: 8px;
  top: 6px;
}

.copy:hover {
  cursor: copy;
}

@media (max-width: 640px) {
  .root {
    .token-line {
      font-size: 11px !important;
    }
  }
}
