.root {
  border-radius: 16px;
  padding: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid var(--gray6);
  position: relative;
  line-height: 16px;
  background: var(--lowContrast);
  white-space: pre-wrap;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 30px -5px;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.copy {
  width: 24px;
  height: 24px;
}

.copy:hover {
  cursor: copy;
}

@media (max-width: 640px) {
  .root {
    .token-line {
      font-size: 11px !important;
    }
  }
}
